streamlit
pandas
numpy
matplotlib
seaborn
plotly
altair
networkx
scikit-learn
nltk
spacy
vaderSentiment
nrclex
tweepy
bertopic
sentence-transformers
umap-learn
hdbscan
joblib
wordcloud
pyLDAvis
requests
regex
textblob
